.about-operation.container.rino
  .about-operation__row
    .about-operation__left Золотой стандарт выполнения омолаживающих операций на верхней и средней трети лица — через микродоступы (небольшие разрезы) в области волосистой части головы и использование эндоскопического оборудования, чтобы избежать повреждения важных сосудов и нервов.
    .about-operation__right Именно такой эндоскопический лифтинг показан большинству пациентов с ранними признаками старения, так как изменения начинаются именно с верхней трети лица (со лба и височных областей).
  .about-operation__grid
    .about-operation__item
      .about-operation__title Продолжительность
      .about-operation__text В среднем от 2 до 6 часов
    .about-operation__item
      .about-operation__title Продолжительность
      .about-operation__text В среднем от 2 до 6 часов
    .about-operation__item
      .about-operation__title Продолжительность
      .about-operation__text В среднем от 2 до 6 часов
    .about-operation__item
      .about-operation__title Продолжительность
      .about-operation__text В среднем от 2 до 6 часов