.about.container
  h3.title-tag Лебедева Юлия Владимировна
  h2.title-h1.title-center О пластическом хирурге
  .about__row.row
    .about__left.img-o
      img(src="../assets/img/about.png", alt="")
    .about__right
      ul
        li Кандидат медицинских наук
        li Узкая специализация и детальное погружение в нюансы эстетической хирургии лица
        li Опыт более 8-ми лет
        li Член Общества пластических, реконструктивных и эстетических хирургов России (ОПРЭХ)
        li Член Международного общества эстетических пластических хирургов ISAPS
        li Автор научных статей (в том числе для зарубежных научных журналов)  и 5 патентов на изобретение в РФ
        li Преподаватель-исследователь, очная аспирантура на Кафедре пластической и реконструктивной хирургии ФП и ДПО СПбГПМУ
        li Спикер научных конгрессов и симпозиумов
      a(href="").btn.btn-third Записаться на консультацию
      
