.cliniks.container
  .cliniks__row
    .cliniks__text Я веду прием в двух форматах: бесплатная онлайн-консультация и платный очный прием в клинике “A3BEAUTE” в Санкт -Петербурге или в клинике “АвисМед” в Новосибирске.
    .cliniks__info
      p Онлайн отлично подойдет тем, кому некомфортно добираться до клиники или кто проживает в другом городе. 
      p Часто онлайн-консультация плавно перетекает в очную встречу для выполнения компьютерного моделирования предполагаемого результата операции (актуально для ринопластики).
  .cliniks__row
    .cliniks__item
      img(src="./assets/img/screen-8-1.webp", alt="").cliniks__img
      .cliniks__block
        .cliniks__head
          .cliniks__title.title-h2 A3BEAUTE
          .cliniks__place.tag Санкт-Петербург
        .cliniks__about
          .cliniks__point
            .cliniks__left Адрес
            .cliniks__right Тверская ул. 1А
          .cliniks__point
            .cliniks__left Стоимость очного приема
            .cliniks__right 2000 руб.
        a(href="").btn.btn-secondary Сайт клиники
    .cliniks__item
      img(src="./assets/img/screen-8-1.webp", alt="").cliniks__img
      .cliniks__block
        .cliniks__head
          .cliniks__title.title-h2 A3BEAUTE
          .cliniks__place.tag Санкт-Петербург
        .cliniks__about
          .cliniks__point
            .cliniks__left Адрес
            .cliniks__right Тверская ул. 1А
          .cliniks__point
            .cliniks__left Стоимость очного приема
            .cliniks__right 2000 руб.
        a(href="").btn.btn-secondary Сайт клиники
