.faq-screen.container
  h2.title-h1 ЧАСТО  ЗАДАВАЕМЫЕ ВОПРОСЫ
  .faq-screen__block
    .details.item-mob
      .summary.item-mob__head
        .summary__text Чем отличается бесплатная онлайн-консультация  от очной в клинике?
        .summary__icon
      .summary-inner.item-mob__content
        div
          p Дистанционная онлайн-консультация позволяет познакомиться со мной в формате видеосвязи, подробно обсудить вопросы подготовки, проведения самой операции и реабилитации, задать все интересующие вопросы. Она очень удобна, особенно если вы из другого города. Однако компьютерное моделирование предполагаемого результата операции можно выполнить только при очной встрече, поэтому зачастую после онлайн-консультации пациенты дополнительно приходят на прием в клинику.
    .details.item-mob
      .summary.item-mob__head
        .summary__text Когда будут видны результаты ринопластики?
        .summary__icon
      .summary-inner.item-mob__content
        div
          p Двухнедельное обучение в мировой столице ринопластики, Стамбуле, я провела в начале 2020 года. Именно в Турции наибольшее количество хирургов, практикующих пластику носа, и именно там  используются все самые передовые техники. Я много ассистировала хирургам и слушала лекции о сохраняющей ринопластике — методике, позволяющей максимально сохранить анатомические структуры носа. Результат получается более естественным, а операция менее травматичной. Я всегда рада обучениям, которые помогают улучшить эстетические результаты и сделать период реабилитации для моих пациентов менее болезненным и более коротким.
