.block-1.container
  h2.title-h1 Пьезоринопластика
  .block-1__row.row
    .block-1__left
      img(src="../assets/img/screen-9-1.webp", alt="")
    .block-1__right
      .block-1__title Вторичную операцию проводят, когда результат после первой оказывается не таким как хотелось пациенту — не устраивает внешний вид носа или нарушено носовое дыхание. Эстетические или физиологические причины могут осложняться и психологическими проблемами: замкнутостью, депрессией, потерей уверенности в себе.
      .block-1__text
        p Проводить вторичную ринопластику можно не раньше, чем через 10-12 месяцев после предшествующей операции. Необходимо подождать, когда заживут ткани и по-максимуму уйдут отеки.
        p При повторной ринопластике нужен тщательный анализ, более сложные техники операции и особое внимание еще на этапе планирования операции. Когда пациент приходит на повторную операцию, проблемы носа хорошо видны, в отличии от первичной ринопластики. Поэтому в первую очередь я провожу детальную оценку того, какие деформации имеются и что можно изменить.
        p Доступ при повторной ринопластике всегда используется открытый.  Для того, чтобы выполнить структурную ринопластику, как бы «построить нос» заново, беру дополнительный материал — для этого чаще всего берется небольшой фрагмент реберного хряща через маленький разрез в подгрудной складке. Рубец там, как правило, малозаметен. Для работы с костями носа использую пьезоаппарат, который не повреждает мягкие ткани (сосуды, нервы, хрящи), после пьезо нет сильного кровотечения или сильных гематом.