.main-screen.container
  h1.title-h1 Блефаропластика
  .main-screen__row
    .main-screen__left
      img(src="../assets/img/main-operation-1.webp", alt="")
    .main-screen__right
      img(src="../assets/img/main-operation.svg", alt="")
      .main-screen__block
        h2.title-h1 Блефаропластика
        .main-screen__subtitle Современный подход без признаков вмешательства
        a(href="").btn.btn-primary Записаться на консультацию

