.tile
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
  .tile__item
    .tile__number (1)
    .tile__text Инфекционные и вирусные заболевания
