@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-semibold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FoglihtenNo06';
  src: url('../fonts/fg.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}