/* BEGIN PADDING MARGIN GAP REM */
$offset_global: 24px; // PADDING, MARGIN, GAP

/* END PADDING MARGIN GAP REM */

/* BEGIN COLORS */
:root {
  --primary: #252320;
  --secondary: #C3AD80;
  --text: #F1ECE3;
  --text-footer: #85775B;
  --third: #494137;
  --ts: 0.3s;
  --br: 16px;
}


/* END COLORS */

/* BEGIN FONTS */
$font_primary: "SF Pro Display", serif;
$font_title: "FoglihtenNo06", serif;


/* END FONTS */