/* BEGIN PADDING MARGIN GAP REM */
$offset_global: 24px; // PADDING, MARGIN, GAP

/* END PADDING MARGIN GAP REM */

/* BEGIN COLORS */
:root {
  --primary: #252320;
  --secondary: #C3AD80;
  --text: #F1ECE3;
  --text-footer: #85775B;
  --third: #494137;
  --ts: 0.3s;
  --br: 16px;


  --accent: #226ED8;
  --negative: #EE5151;
  --possitive: #00966D;
  --average: #FF902B;
  --dark-blue-1: #084CAB;
  --dark-blue-2: #336CC9;
  --gray: #BDBDBD;
  --grayscale: #4E4B66;
  --gray-text: #A9AEBA;
  --bg-main: #FDFDFF;
  --bg-secondary: #F6F9FF;
  --bg-grayscale: #F7F7FC;
  --white-content: #fff;
  --active-breadcrumbs: #0047BB;
  --inactive-breadcrumbs: #99B5E4;
  --light-black: #373F41;
  --warning: #CCDAF1;

}


/* END COLORS */

/* BEGIN FONTS */
$font_primary: "SF Pro Display", serif;
$font_title: "FoglihtenNo06", serif;


/* END FONTS */