footer.footer
  .container
    .footer__block
      .footer__item.footer__item-1
        a(href="").footer__Logo
          img(src="../assets/img/svg/logo-footer.svg", alt="logo")
      .footer__item.footer__item-2
        .footer-menu
          div
            ul
              li.menu-item
                a(href="") Ринопластика
              li.menu-item
                a(href="") Блефаропластика
              li.menu-item
                a(href="") Омоложение лица
      .footer__item.footer__item-3
        a(href="").footer__info Сертификаты
        .footer__text.footer__text--mob
          div
            p Мед.лицензия ООО "АПХ"
            p Лицензия Л041-01148-78/00336120
            p Дата предоставления лицензии: 12.11.2019
          div
            p Мед.лицензия ООО ЛДЦ "АвисМед"
            p Лицензия ЛО-54-01-006049
            p Дата предоставления лицензии: 28.09.20
        .footer__text Некоторые изображения на сайте сгенерированы с помощью нейросети Midjourney
      .footer__item.footer__item-4
        .footer__contact
          span Номер телефона менеджера
          a(href="tel:+79313979497").footer__link +7 (931) 397-94-97
        .footer__contact
          span Эл.почта
          a(href="mailto:dr_lebedeva@rambler.ru").footer__link dr_lebedeva@rambler.ru
      .footer__item.footer__item-5
        .footer__row
          a(href="").footer__text.privacy-policy Политика конфидициальности
          a(href="").footer__social.footer__social--mob
            img(src="./assets/img/svg/vk.svg", alt="social")
      .footer__item.footer__item-6
        a(href="").footer__social.footer__social--desktop
          img(src="./assets/img/svg/vk.svg", alt="social")
      .footer__item.footer__item-7
        .footer__text
          div
            p Мед.лицензия ООО "АПХ"
            p Лицензия Л041-01148-78/00336120
            p Дата предоставления лицензии: 12.11.2019
          div
            p Мед.лицензия ООО ЛДЦ "АвисМед"
            p Лицензия ЛО-54-01-006049
            p Дата предоставления лицензии: 28.09.20
      .footer__item.footer__item-8
        a(href="").btn.btn-primary Записаться на консультацию