header.header
  .container
    .header__row
      .header__left
        a(href="").header__logo
          <svg><use xlink:href="./assets/img/svg/sprite.svg#logo"></use></svg>
      .header__right#nav
        .header__menu
          div
            ul
              li.menu-item
                a(href="") Ринопластика
              li.menu-item
                a(href="") Блефаропластика
              li.menu-item
                a(href="") Омоложение лица
        .header__contacts
          a(href="#cons").btn.btn-header Записаться на консультацию <svg class="arrow-btn"><use xlink:href="./assets/img/svg/sprite.svg#btn-header"></use></svg>
          a(href="").header__social
            <svg><use xlink:href="./assets/img/svg/sprite.svg#vk"></use></svg>
      .header__burger.e_menu
        <svg class="burger-open"><use xlink:href="./assets/img/svg/sprite.svg#burger-open"></use></svg>
        <svg class="burger-close"><use xlink:href="./assets/img/svg/sprite.svg#burger-close"></use></svg>