.overlay.hidden.menu#menu
  .overflow
    .menu__box.overflow__box
      .menu__menu
        div
          ul
            li.menu-item
              a(href="") Ринопластика
            li.menu-item
              a(href="") Блефаропластика
            li.menu-item
              a(href="") Омоложение лица
      .menu__contacts
        a(href="").menu__social
          <svg><use xlink:href="./assets/img/svg/sprite.svg#vk"></use></svg>
        a(href="#cons").btn.btn-third Записаться на консультацию
    .overflow__close.e_menu_close

.overlay.hidden.sert#sert
  .overflow
    .overflow__box
      .container
        .sert__slider.swiper
          .slider-btn-prev.swiper-button-prev
            <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
          .swiper-wrapper
            .sert__slide.swiper-slide
              img(src="../assets/img/sert-1.png", alt="")
            .sert__slide.swiper-slide
              img(src="../assets/img/sert-1.png", alt="")
            .sert__slide.swiper-slide
              img(src="../assets/img/sert-1.png", alt="")
          .slider-btn-next.swiper-button-next
            <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
    .overflow__close.e_sert_close

