<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

  include components/_head

</head>
<body>

  .wrapper

    include components/_header


    section.section
      include blocks/about
    section.section
      include blocks/about-operation
    section.section
      .container
        include blocks/tile
    section.section
      include blocks/kinds
    section.section
      include blocks/faq

    include components/_footer
    include components/_modals
    include components/_scripts

</body>
</html>