.screen-8.container
  .screen-8__row
    h2.title-h1 ПУБЛИКА&shy;ЦИИ
    .slider-btn
      .slider-btn-prev.swiper-button-prev
         <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
      .slider-btn-next.swiper-button-next
         <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
  .screen-8__slider.swiper
    .swiper-wrapper
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-8__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-8__img
        .screen-8__block
          .screen-8__source.tag sobaka.ru
          .screen-8__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее