.screen-5.container
  h2.title-h1 ОБРАЗОВАНИЕ
  .screen-5__row
    .screen-5__left
      img(src="./assets/img/screen-4.webp", alt="")
    .screen-5__right
      .screen-5__text
        p Сейчас я — практикующий экспертcв эстетической хирургии лица, кандидат медицинских наук и преподавательcна кафедре пластической реконструктивной хирургии.  Но мой путь начался много лет назад, и я долго шла к своей цели — стать высококвалифицированным профессионалом своего дела.
        p Каждая ступень моего пути давала мне бесценный опыт и расширяла кругозор. Я продолжаю учиться и постоянно совершенствовать свои навыки не только в России, но и за рубежом. За это время я получила более 50 дипломов и сертификатов, подтверждающих мои компетенции.
      a(href="").btn.btn-primary Cмотреть все сертификаты
  .screen-5__block
    .details.item-mob
      .summary.item-mob__head
        .summary__text Стажировка в Стамбуле, 2020 г
        .summary__icon
      .summary-inner.item-mob__content
        div
          p Двухнедельное обучение в мировой столице ринопластики, Стамбуле, я провела в начале 2020 года. Именно в Турции наибольшее количество хирургов, практикующих пластику носа, и именно там  используются все самые передовые техники. Я много ассистировала хирургам и слушала лекции о сохраняющей ринопластике — методике, позволяющей максимально сохранить анатомические структуры носа. Результат получается более естественным, а операция менее травматичной. Я всегда рада обучениям, которые помогают улучшить эстетические результаты и сделать период реабилитации для моих пациентов менее болезненным и более коротким.
    .details.item-mob
      .summary.item-mob__head
        .summary__text Стажировка в Стамбуле, 2020 г
        .summary__icon
      .summary-inner.item-mob__content
        div
          p Двухнедельное обучение в мировой столице ринопластики, Стамбуле, я провела в начале 2020 года. Именно в Турции наибольшее количество хирургов, практикующих пластику носа, и именно там  используются все самые передовые техники. Я много ассистировала хирургам и слушала лекции о сохраняющей ринопластике — методике, позволяющей максимально сохранить анатомические структуры носа. Результат получается более естественным, а операция менее травматичной. Я всегда рада обучениям, которые помогают улучшить эстетические результаты и сделать период реабилитации для моих пациентов менее болезненным и более коротким.
