.screen-4.container
  .screen-4__block
    .screen-4__item
      .screen-4__title.title-h2 Делаю пациенту только то, что сделала бы себе
      .screen-4__text
        p Для одной женщины горбинка на носу — повод для перемен, а для другой — фамильная черта и предмет для гордости. Для меня важно внимательно выслушать пациентку и понять, что именно ей хочется изменить, а что сохранить в изначальном виде. Я глубоко убеждена, что нет единого стандарта красоты, к которому нужно стремиться.
        p Есть определённые законы природы: нам кажутся красивыми гармоничные лица. Именно такого результата стараюсь добиться в процессе выполнения операции. Я принимаю во внимание индивидуальные анатомические особенности и меняю, прежде всего, пропорции. Особый акцент делаю на качественной и деликатной работе с тканями пациента, стараюсь выполнить свою работу максимально атравматично.
    .screen-4__item
      .screen-4__title.title-h2 Делаю пациенту только то, что сделала бы себе
      .screen-4__text
        p Для одной женщины горбинка на носу — повод для перемен, а для другой — фамильная черта и предмет для гордости. Для меня важно внимательно выслушать пациентку и понять, что именно ей хочется изменить, а что сохранить в изначальном виде. Я глубоко убеждена, что нет единого стандарта красоты, к которому нужно стремиться.
        p Есть определённые законы природы: нам кажутся красивыми гармоничные лица. Именно такого результата стараюсь добиться в процессе выполнения операции. Я принимаю во внимание индивидуальные анатомические особенности и меняю, прежде всего, пропорции. Особый акцент делаю на качественной и деликатной работе с тканями пациента, стараюсь выполнить свою работу максимально атравматично.
    .screen-4__item
      .screen-4__title.title-h2 Делаю пациенту только то, что сделала бы себе
      .screen-4__text
        p Для одной женщины горбинка на носу — повод для перемен, а для другой — фамильная черта и предмет для гордости. Для меня важно внимательно выслушать пациентку и понять, что именно ей хочется изменить, а что сохранить в изначальном виде. Я глубоко убеждена, что нет единого стандарта красоты, к которому нужно стремиться.
        p Есть определённые законы природы: нам кажутся красивыми гармоничные лица. Именно такого результата стараюсь добиться в процессе выполнения операции. Я принимаю во внимание индивидуальные анатомические особенности и меняю, прежде всего, пропорции. Особый акцент делаю на качественной и деликатной работе с тканями пациента, стараюсь выполнить свою работу максимально атравматично.