.screen-9.container
  .screen-9__row
    .screen-9__text Я веду прием в двух форматах: бесплатная онлайн-консультация и платный очный прием в клинике “A3BEAUTE” в Санкт -Петербурге или в клинике “АвисМед” в Новосибирске.
    .screen-9__info
      p Онлайн отлично подойдет тем, кому некомфортно добираться до клиники или кто проживает в другом городе. 
      p Часто онлайн-консультация плавно перетекает в очную встречу для выполнения компьютерного моделирования предполагаемого результата операции (актуально для ринопластики).
  .screen-9__row
    .screen-9__item
      img(src="./assets/img/screen-8-1.webp", alt="").screen-9__img
      .screen-9__block
        .screen-9__head
          .screen-9__title.title-h2 A3BEAUTE
          .screen-9__place.tag Санкт-Петербург
        .screen-9__about
          .screen-9__point
            .screen-9__left Адрес
            .screen-9__right Тверская ул. 1А
          .screen-9__point
            .screen-9__left Стоимость очного приема
            .screen-9__right 2000 руб.
        a(href="").btn.btn-secondary Сайт клиники
    .screen-9__item
      img(src="./assets/img/screen-8-1.webp", alt="").screen-9__img
      .screen-9__block
        .screen-9__head
          .screen-9__title.title-h2 A3BEAUTE
          .screen-9__place.tag Санкт-Петербург
        .screen-9__about
          .screen-9__point
            .screen-9__left Адрес
            .screen-9__right Тверская ул. 1А
          .screen-9__point
            .screen-9__left Стоимость очного приема
            .screen-9__right 2000 руб.
        a(href="").btn.btn-secondary Сайт клиники
