.screen-6.container
  .title-row
    h2.title-h1 ВРАЧЕБНАЯ ПРАКТИКА
    .title-row__right
      h3.title-tag мой путь
      .slider-btn
        .slider-btn-prev.swiper-button-prev
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
          <path d="M25.3672 11L1.85689 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M16 1L26 11L16 21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        .slider-btn-next.swiper-button-next
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
          <path d="M25.3672 11L1.85689 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M16 1L26 11L16 21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
  .screen-6__slider.swiper
    .swiper-wrapper
      .screen-6__item.swiper-slide
        .screen-6__date 2023 — по НВ
        .screen-6__subtitle Клиника «АвисМед», Новосибирск
        .btn.btn-secondary Подробнее

