.screen-6.container
  .title-row
    h2.title-h1 ВРАЧЕБНАЯ ПРАКТИКА
    .title-row__right
      h3.title-tag мой путь
      .slider-btn
        .slider-btn-prev.swiper-button-prev
         <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
        .slider-btn-next.swiper-button-next
         <svg><use xlink:href="./assets/img/svg/sprite.svg#arrow-slider"></use></svg>
  .screen-6__slider.swiper
    .swiper-wrapper
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее
      .screen-6__item.swiper-slide
        .screen-6__info
          .screen-6__date 2023 — по НВ
          .screen-6__subtitle Клиника «АвисМед», Новосибирск
        a(href="").btn.btn-secondary Подробнее