.screen-3.container
  .screen-3__row
    .screen-3__left
      h2.title-tag обо мне:
      ul.screen-3__info
        li.screen-3__point Член профессиональных ассоциаций РОПРЭХ и ISAPS
        li.screen-3__point Преподаватель кафедры пластической и реконструктивной хирургии ФП и ДПО в СПбГПМУ
        li.screen-3__point Постоянный спикер главных мероприятий в пластической хирургии страны*
      .screen-3__notice * Национального конгресса по пластической хирургии и эстетической медицине, летнего конгресса пластической хирургии и эстетической медицине, конгрессах AASURGERY
    .screen-3__right
      img(src="./assets/img/screen-3-1.png", alt="")
