.screen-10.container
  .screen-10__row
    h2.title-h1 ПУБЛИКАЦИИ
    .slider-btn
      .slider-btn-prev.swiper-button-prev
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
        <path d="M25.3672 11L1.85689 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        <path d="M16 1L26 11L16 21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      .slider-btn-next.swiper-button-next
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
        <path d="M25.3672 11L1.85689 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        <path d="M16 1L26 11L16 21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
  .screen-10__slider.swiper
    .swiper-wrapper
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее
      a(href="").screen-10__item.swiper-slide
        img(src="./assets/img/screen-9-1.webp", alt="").screen-10__img
        .screen-10__block
          .screen-10__source.tag sobaka.ru
          .screen-10__title Эстетическая и функциональная ринопластика
          .btn.btn-secondary Читать подробнее