.screen-2.container
  h2.title-h1 операции
  .screen-2__row
    a(href="").screen-2__item
      img(src="./assets/img/svg/screen-2-1.svg", alt="").screen-2__icon
      .screen-2__title Эстетическая и функциональная ринопластика
      .btn.btn-more Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M2 8H8V2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/><path d="M7 7L2 2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/></svg>
    a(href="").screen-2__item
      img(src="./assets/img/svg/screen-2-2.svg", alt="").screen-2__icon
      .screen-2__title Верхняя и нижняя блефаропластика
      .btn.btn-more Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M2 8H8V2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/><path d="M7 7L2 2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/></svg>
    a(href="").screen-2__item
      img(src="./assets/img/svg/screen-2-3.svg", alt="").screen-2__icon
      .screen-2__title Омоложение лица
      .btn.btn-more Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M2 8H8V2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/><path d="M7 7L2 2" stroke="#C3AD80" stroke-width="1.5" stroke-linecap="square"/></svg>
