.screen-7.container
  .title-row
    h2.title-h1 Портфолио
    .title__right
      h3.title-tag видео-отзывы
  .screen-7__row
    .screen-7__item
      .screen-7__img
        img(src="./assets/img/screen-6-1.webp", alt="")
      .screen-7__icon
        img(src="./assets/img/svg/video.svg", alt="")
    .screen-7__item
      .screen-7__img
        img(src="./assets/img/screen-6-1.webp", alt="")
      .screen-7__icon
        img(src="./assets/img/svg/video.svg", alt="")
    .screen-7__item
      .screen-7__img
        img(src="./assets/img/screen-6-1.webp", alt="")
      .screen-7__icon
        img(src="./assets/img/svg/video.svg", alt="")
    .screen-7__item
      .screen-7__img
        img(src="./assets/img/screen-6-1.webp", alt="")
      .screen-7__icon
        img(src="./assets/img/svg/video.svg", alt="")