.screen-1.container
  .screen-1__row.screen-1__row-1
    .screen-1__left
      img(src="./assets/img/screen-1.png", alt="")
    .screen-1__right
      h1.screen-1__title.title-h1 Юлия лебедева
      .screen-1__block
        .screen-1__subtitle Кандидат медицинских наук, пластический хирург со специализацией на эстетике лица
        a(href="").btn.btn-primary Записаться на консультацию
  .screen-1__row.screen-1__row-2
    .screen-1__item
      .screen-1__number <span>8</span>лет
      .screen-1__info Врачебная практика 
    .screen-1__item
      .screen-1__number <span>16</span>лет
      .screen-1__info Медицинское образование
    .screen-1__item
      .screen-1__number <span>22</span>
      .screen-1__info Научные публикации 
    .screen-1__item
      .screen-1__number <span>5</span>
      .screen-1__info Патенты 
    .screen-1__item
      .screen-1__number <span>56</span>
      .screen-1__info Сертификаты и дипломы 
