.screen-7
  &__row
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 14px
    @media (max-width: 991px)
      display: flex
      justify-content: center
      flex-wrap: wrap
      gap: 12px
  &__item
    padding: 30px 0 28px
    border-radius: var(--br)
    background: var(--secondary)
    transition: var(--ts)
    cursor: pointer
    @media (max-width: 991px)
      width: 300px
    @media (max-width: 540px)
      max-width: 300px
      width: 100%
      margin: 0 auto
    &:hover
      background: var(--third)
  &__slide
    +text-3
    border-radius: var(--br)
    border: 1px solid var(--third)
  &__text
    max-height: 360px
    overflow-y: auto
    & p
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  &__icon
    & svg
      width: 56px
      height: 56px
      margin: 0 auto
  &__input
    color: var(--third)
    padding: 8px 10px
    border-radius: 100px
    border: 1px solid var(--third)
  &__img
    overflow: hidden
    margin: 0 auto
    width: 200px
    height: 200px
    border-radius: 50%
    margin-bottom: 28px
    & img
      +o-fit
  &__block
    margin-bottom: 80px
    @media (max-width: 767px)
      margin-bottom: 56px
    &:last-child
      margin-bottom: 0

.reviews-slider
  & .swiper-slide
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 72px
    padding: 16px
    height: auto!important

.reviews-slider, .before-after-slider
  & .swiper-slide
    height: auto!important
  & .title-row
    @media (max-width: 767px)
      flex-direction: row
  & .slider-btn
    @media (max-width: 767px)
      order: 2
  & .title-row__right
    @media (max-width: 767px)
      order: 1
