.screen-4
  &__block
    padding: 30px
    color: var(--primary)
    @media (max-width: 767px)
      padding: 20px
    &::before
      transform: scale(-1, 1)
  &__text
    +text-3
    max-width: 540px
    & p
      &:last-child
        margin-bottom: 0
  &__item
    position: relative
    z-index: 1
    display: flex
    justify-content: space-between
    gap: 80px
    padding: 24px 0
    border-bottom: 1px solid rgba(37, 35, 32, 0.2)
    @media (max-width: 991px)
      flex-direction: column
      gap: 16px
    @media (max-width: 767px)
      padding: 8px 0 24px
    &:first-child
      padding-top: 0
      @media (max-width: 767px)
        padding-top: 8px
        border-top: 1px solid rgba(37, 35, 32, 0.2)
    &:last-child
      padding-bottom: 0
      border-bottom: 0
