/* BEGIN CONTAINER SETTINGS */
@mixin container-padding($min-width, $max-width: 0, $width: 0, $offset: 15) {
  @if $max-width == 0 {
    @media (min-width: $min-width) {
      @if $width == 0 {
        .container {
          padding-left: 10px;
          padding-right: 10px;
        }
      } @else {
        .container {
          padding-left: calc((100% - #{$width}) / 2 + 15px);
          padding-right: calc((100% - #{$width}) / 2 + 15px);
        }
      }
    }
  }
  @if $max-width > 0 {
    @media (min-width: $min-width) and (max-width: $max-width) {
      @if $width == 0 {
        .container {
          padding-left: 10px;
          padding-right: 10px;
        }
      } @else {
        .container {
          padding-left: calc((100% - #{$width}) / 2 + 15px);
          padding-right: calc((100% - #{$width}) / 2 + 15px);
        }
      }
    }
  }
}

@include container-padding(1490px, 0, 1460px);
@include container-padding(1200px, 0, 1190px);
@include container-padding(992px, 1199px, 991px);
@include container-padding(768px, 991px, 768px);
@include container-padding(320px, 767px);

/* END CONTAINER SETTINGS */